# Django
Django==3.2.4

# Django REST Framework
djangorestframework==3.12.4

# Python decouple
python-decouple==3.4

# Gunircorn
gunicorn==20.1.0

# Django CORS Headers
django-cors-headers==3.7.0

# Mysql
mysqlclient==2.0.3