<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Confirma tu usuario actualizando tu información porfavor.</h2>
        <p>Te generamos estos datos provisionales para que accedas y puedas modificar tus datos.</p>
        <h3>Usuario: {{ username }}</h3>
        <h3>Contraseña: {{ password }}</h3>
        <p>No responda este correo. ¡Bienvenido!</p>
    </div>
</body>
</html>